.home {
  display: flex;
}
.home .videos {
  width: 100%;
  padding-top: 40px;
  min-height: calc(100vh - 60px);
  background-color: var(--mainColor);
}
.home .videos {
  width: 100%;
  padding-top: 40px;
  min-height: calc(100vh - 60px);
  background-color: var(--mainColor);
}
.home .videos .wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
