.loading .video:hover {
  background-color: transparent;
}
.loading .video .image {
  position: relative;
  background-color: var(--boxColor);
  width: 100%;
  height: 195px;
  border-radius: 10px;
  animation: loading 1s infinite alternate-reverse;
}

.loading .video .image span {
  position: absolute;
  width: 60px;
  height: 22px;
  right: 4px;
  bottom: 8px;
  background-color: var(--bgHover);
  border-radius: 8px;
}
.loading .video .info {
  margin-top: 10px;
  display: flex;
}
.loading .video .info .channel-img {
  width: 50px;
  min-width: 50px;
  height: 50px;
  background-color: var(--bgHover);
  border-radius: 50%;
  margin-right: 10px;
  animation: loading 1s infinite alternate-reverse;
}
.loading .video .info .text {
  width: 100%;
}
.loading .video .info .text h3,
.loading .video .info .text p,
.loading .video .info .text span {
  margin-bottom: 10px;
  background-color: var(--bgHover);
  border-radius: 8px;
  animation: loading 1s 0.5s infinite alternate-reverse;
}

.loading .video .info .text h3 {
  width: 85%;
  height: 20px;
}
.loading .video .info .text p {
  cursor: default;
  width: 60%;
  height: 15px;
}
.loading .video .info .text span {
  display: block;
  width: 40%;
  height: 15px;
}

@keyframes loading {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
